---
title: Resources
layout: default
---
<div class="container">
        <div class="col-lg-12 starter-template">
            <h1>Resources</h1>
            <p class="lead">Here you'll find some resources for doing things the Code for DC Way™.</p>
        </div>
        <div class="col-md-8 col-md-offset-2 row">
            <div class="col-md-6 guides">
                <h1 class="text-center">Guides</h1>
                {% assign guides = site.resources | where:"type","guide" %}
                {% for guide in guides %}
                    <p class="resource"><a href="{{ guide.url }}">{{ guide.title }}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-6 tools">
                <h1 class="text-center">Tools</h1>
                {% assign tools = site.resources | where:"type","tool" %}
                {% for tool in tools %}
                    <p class="resource"><a href="{{ tool.url }}">{{ tool.title }}</a></p>
                {% endfor %}
            </div>
        </div>
</div>

{% include _global_js.html %}
