---
title: Resources
layout: default
---
{% assign guides = site.resources | where:"type","guide" %}
{% assign documents = site.resources | where:"type","document" %}
{% assign tools = site.resources | where:"type","tool" %}

<div class="container">
    <div class="col-lg-12 starter-template">
        <h1>Resources</h1>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-4 docs">
            <h2 class="resource-type">Documents</h2>
            {% for document in documents %}
            <p class="resource"><a href="{{ document.url }}">{{ document.title }}</a></p>
            {% endfor %}
        </div>
        <div class="col-md-4 guides">
            <h2 class="resource-type">Guides</h2>
            {% for guide in guides %}
            <p class="resource"><a href="{{ guide.url }}">{{ guide.title }}</a></p>
            {% endfor %}
        </div>
        <div class="col-md-4 tools">
            <h2 class="resource-type">Tools</h2>
            {% for tool in tools %}
            <p class="resource"><a href="{{ tool.url }}">{{ tool.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% include _global_js.html %}
