body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.hero {
	background: url('images/bohemian-caverns.jpg');
	background-size: cover;
	min-height: 300px;
	min-width: 400px;
	padding:0;
}

.hero-text{
	text-align:center;
	font-size:150px;
	font-weight:bold;
	color: white;
	background-color: rgba(0,0,0,.5);
	margin-top:25px;
}

#project-list h3,
#press-list h3 { 
	margin-top:0;
	margin-bottom:5px;
}

.navbar-brand {
	padding:10px;
}

#project-list,
#press-list {
	text-align:center;
}

.project-icon,
.press-icon {
	margin-bottom:10px;
}

h1.h0 {
	font-size:59px;
	font-weight:bold;	
	margin-top:10px;
}
