body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.black {
	background:black;
	color:white;
}



.hero {
	background: url('images/bohemian-caverns.jpg');
	background-size: cover;
	min-height: 300px;
	min-width: 400px;
	padding:0;
}

.hero-text{
	text-align:center;
	font-size:150px;
	font-weight:bold;
	color: white;
	background-color: rgba(0,0,0,.5);
	margin-top:25px;
}

#project-list h3,
#press-list h3 { 
	margin-top:0;
	margin-bottom:5px;
}

.navbar-brand {
	padding:10px;
}

#project-list,
#press-list {
	text-align:center;
}

.project-icon,
.press-icon {
	margin-bottom:10px;
}

h1.h0 {
	font-size:59px;
	font-weight:bold;	
	margin-top:10px;
}


.stuff-weve-made-stripe {
	margin-top:60px;
}

.stuff-weve-made-stripe h2 {
	margin-bottom:20px	;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
}


.project-stripe-odd,
.project-stripe-even {
	margin-top:20px;
}


.project-stripe-img {
	background-color:black;
	padding:2px;
	margin-bottom:20px;
}

.project-stripe-img img{
	width:100%;
	
}
.project-stripe-txt {
		background-color:white;
		margin-bottom:40px;
}

.project-stripe-txt h2 {
	margin-top:0;
}


hr.footer-divider {
	border-top: 2px solid #ccc;
}

.project-image,
.project-text {
	margin-bottom:40px;
}
