body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.hero {
	background: url('images/bohemian-caverns.jpg');
	background-size: cover;
	min-height: 300px;
	min-width: 400px;
	color: white;
	font-size:150px;
}

#press-list h3 { 
	margin-top:0;
	margin-bottom:5px;
}