<div class="container">
    <div class="col-lg-12 starter-template">
        <p class="lead">
            <img src="/images/cfa_logo_greyscale.png" alt="Code for America" />
            <h2></h2>
            <p>Code for America is a non-partisan, non-political organization working to create low-risk settings for innovation between citizens and government.  <a href="http://codeforamerica.org/" target="_blank">Learn more</a> about Code for America's mission and its Fellowship, Brigade, Accelerator, Peer Network and Code for All programs.
            </p>
        </p>
    </div>
</div>
