<!-- This should be inserted in the page *before* any page-specific JS -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44079248-1', 'codefordc.org');
  ga('send', 'pageview');

</script>

<script>
    //highlights current page in sitewide nav (_navbar.html)
    $(document).ready(function(){
    	$("#navbar-nav a").each(function() {
        if (this.href == window.location.href ||
            this.href + "index.html" == window.location.href ||
            this.href == window.location.href + "index.html" ) {

            $(this).parent().addClass("active");

          }
        });
    });
</script>
