<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="navigation dropdown">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html"><img src="/images/c4dc-logo-white-30x58.png" alt="Code for DC logo" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="navbar-nav">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/data-portal.html">Data Portal</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li class="dropdown">
            <a href="/resources/" class="dropdown-split-left">Resources</a>
            <a href="javascript:void(0);" class="dropdown-toggle dropdown-split-right" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/resources/codeofconduct.html">Code of Conduct</a></li>
                <li><a href="/resources/getting-started.html">Starter Projects</a></li>
                <li class="divider"></li>
                <li><a href="/resources/">See All</a></li>
            </ul>
        </li>
        <li><a href="/donate.html">Donate</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/CodeforDC"><i class="fa fa-twitter fa-lg"></i><span class="visible-xs-block">Twitter</span></a></li>
        <li><a href="/rss.xml"><i class="fa fa-rss fa-lg"></i><span class="visible-xs-block">RSS Feed</span></a></li>
        <li><a href="https://github.com/codefordc"><i class="fa fa-github fa-lg"></i><span class="visible-xs-block">Github</span></a></li>
        <li><a href="http://meetup.com/code-for-dc"><i class="fa fa-calendar fa-lg"></i><span class="visible-xs-block">Meetup</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
