<div class="next-meeting">
	<h1>Next Meeting</h1>
	<p class="md soft">
		Join us at one of our <a href="https://www.meetup.com/Code-for-DC/">bi-monthly meetups</a> to 
		learn more about our <a href="/about/">what we do</a>, 
		contribute to a <a href="/projects/">current project</a>, 
		or just snag some free pizza. 
	</p>
	<hr>
	<div id="meetup">
		<div id="loaderIcon" class="">
			<img src="assets/img/loading.svg">
		</div>
		<p id="meetupDetails" class="lg loud">
			<span id="meetupDate"></span><a id="meetupLocation" href="" target="_blank"></a>
		</p>
		<p id="meetupRSVP" class="sm soft"></p>
		<a id="meetupCTA" class="btn blue" href="" target="_blank"></a>
	</div>
</div>
