.calendar {
  background-color: lightgray;
  margin-top: 20px;
}
.calendar .clndr .clndr-controls {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}
.calendar .clndr .clndr-controls .month {
  text-align: center;
}
.calendar .clndr .clndr-controls .clndr-next-button {
  cursor: pointer;
  text-align: center;
}
.calendar .clndr .clndr-controls .clndr-next-button:hover {
  background: darkgray;
}
.calendar .clndr .clndr-controls .clndr-previous-button {
  cursor: pointer;
  text-align: center;
}
.calendar .clndr .clndr-controls .clndr-previous-button:hover {
  background: darkgray;
}
.calendar .clndr-grid {
  float: left;
  width: 100%;
}
.calendar .clndr-grid .days-of-the-week {
  width: 100%;
  background-color: lightblue;
}
.calendar .clndr-grid .days-of-the-week .header-day {
  float: left;
  width: 14.2857%;
  padding: 14px;
  text-align: center;
  color: white;
}
.calendar .clndr-grid .days {
  width: 100%;
}
.calendar .clndr-grid .days .day:hover {
  background-color: darkgray;
}
.calendar .clndr-grid .days .day,
.calendar .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: lightgray;
  border-bottom: 2px solid white;
  background-size: cover;
  background-position: center;
}
.calendar .clndr-grid .days .day.event .day-number,
.calendar .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid blue;
}
.calendar .clndr-grid .days .day.adjacent-month .day-number,
.calendar .clndr-grid .days .empty.adjacent-month .day-number {
  opacity: 0.3;
}
.calendar .clndr-grid .days .today {
  background-color: white;
  background-image: none;
}
.calendar .event-listing {
  float: left;
  width: 100%;
}
.calendar .event-listing .event-listing-title {
  padding: 14px;
  background-color: lightblue;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.calendar .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
.calendar .event-listing .event-item .event-item-time {
  font-weight: 700;
}
.calendar .group-listing {
  float: left;
}
.calendar .group-listing .group-listing-title {
  padding: 14px;
  background-color: lightblue;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.calendar .group-listing .group-item {
  padding: 14px;
  color: #4f4f4f;
}
.calendar .group-listing .group-item:hover {
  padding: 14px;
  color: #4f4f4f;
  background-color: darkgray;
}
.calendar .group-listing .group-item .group-item-name    {
  font-weight: 700;
}
