/***************************/
/*  general/sitewide */
/***************************/

@import url(http://fonts.googleapis.com/css?family=Raleway:600,700);

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.black {
	background:black;
	color:white;
}

.blackish {
	background:#222;
	color:white;
}

.light-grey {
	background:#eee;
}

h1.h0 {
	font-size:59px;
	font-weight:bold;
	margin-top:10px;
}

.deeplink {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .deeplink,
h3:hover .deeplink,
h4:hover .deeplink,
h5:hover .deeplink,
h6:hover .deeplink {
  opacity: 1;
}

<<<<<<< HEAD
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe, .embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

=======
>>>>>>> add "deeplink" yaml option to create heading links
/*  header  */

.navbar-brand {
	padding:10px;
}

hr.footer-divider {
	border-top: 2px solid #ccc;
}

.italic {
	font-style:italic;
}

<<<<<<< HEAD
.bold {
	font-weight:bold;
}
=======
>>>>>>> basic resources page

/***************************/
/*  index */
/***************************/



.hero {
	background: url('/images/bohemian-caverns.jpg');
	background-size: cover;
	min-height: 300px;
	min-width: 400px;
	padding:0;
}

.hero-text{
	text-align:center;
	font-size:150px;
	font-weight:bold;
	color: white;
	background-color: rgba(0,0,0,.5);
	margin-top:25px;
}


.heading-stripe {
	margin-top:5px;
	padding-left:0;
	padding-right:0;
	padding-bottom:10px;
}

.heading-stripe h2 {
	padding-top:5px;
	padding-bottom:5px;
}

.announcement-icon {
	float:left;
	margin-top:15px;
	/*margin-left:20px;
	margin-right:20px;*/
	margin-bottom:20px;
}

.announcement-icon img{
	/*width: 450px;*/
	width:100%;

}
.announcement-content {
	text-align:justify;
	margin-top:20px;
	/*margin-left:20px;
	margin-right:20px;*/
	margin-bottom:20px;
}

.well {
    margin-top: 20px;
}

.stuff-weve-made-stripe {
	margin-top:60px;
}


.project-stripe-odd,
.project-stripe-even {
	margin-top:20px;
}

.project-stripe-img {
	background-color:black;
	padding:2px;
	margin-bottom:20px;
}

.project-stripe-img img{
	width:100%;

}

.project-stripe-txt {
	background-color:white;
	margin-bottom:40px;
}

.project-stripe-txt h2 {
	margin-top:0;
}

img.project-git-human {
	width: 50px;
	margin-top:5px;
	margin-bottom: 5px;
	border: 2px solid black;
}

/***************************/
/*  project page */
/***************************/

#sortbar {
    padding-bottom: 20px;
}

#project-list .title
{
	text-align:center;
	margin-bottom: 15px;
}
.project-image,
.project-text {
	margin-bottom:40px;
}

#project-list .mix {
    display: none;
}

#project-list h3,
#press-list h3 {
	margin-top:0;
	margin-bottom:5px;
}


#press-list {
	text-align:center;
}

.project-icon
{
	margin-bottom:10px;
}

#project-list .project {
	padding-bottom: 2em;
	border-bottom: 1px solid #AAA;
	margin-bottom: 3em;
	margin-top: 1.5em;
}
#project-list h2 {
	margin: 0 0 4px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: bold;
}
#project-list h2 a {
	color: black;
}
#project-list .project .homepage {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 1em;
}

#project-list .thumbnail {
    display: inline;
    margin: 0px 10px 5px 0px;
}

.contributors > div {
    line-height: 40px;
}

.contributors img {
    margin:0px 3px 0px 3px;
    border:3px solid #222;
}

.need, .category {
    margin: 0px 2px 0px 0px;
}

<<<<<<< HEAD
/* help wanted */

.issue {
    padding: 5px;

}

.issue-inner {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #eee;
}

.issue .labels {
    border-bottom: 1px solid black;
}

/***************************/
/*  about page */
/***************************/

.captains .image {
    padding-top: 20px;
}

.captains .bio {
    background-color: #eee;
}

.captains img {
    border: 2px solid black;
}

.press-item {

}

.press-item-img {
    padding: 10px;
    background-color: #eee
}

.press-item-img img {
    max-height: 150px;
}

=======
/***************************/
/*  about page */
/***************************/

.press-item {

}

.press-item-img {
    padding: 10px;
    background-color: #eee
}

.press-item-img img {
    max-height: 150px;
}

>>>>>>> new about page with news & press releases
.press-item-info {
    padding: 10px;
}

/***************************/
/*  blog post */
/***************************/

.blog-hero {
	background: url('/images/fiction-parade - posted-bills.jpg');
	background-size: cover;
	min-height: 300px;
	min-width: 400px;
	padding:0;
}

.blog-hero .hero-text {
	font-size:120px;
	margin-top:55px;
}

.post {
	text-align: left;
}

.blog-avatar {
	float:left;
	max-width: 150px;
	margin: 4px 15px 10px 0;
	background: #000	;
	padding:0px;
	border: solid black 0px;
}

.blog-avatar .blog-avatar-img {
	width: 150px;
	border: 4px solid black;
}

.blog-avatar-content {
	padding: 5px;
	text-align: center;
	color: #CCC;
	font-size:90%;
	font-weight:bold;
}

.blog-social-cta {
	font-style:italic;
}

.post-footer {
	margin-top: 20px;
}

.post-footer-previous {
	float:left;
}

.post-footer-next {
	float:right;
}

.blog-img-wrapper {
	float:right;
	padding:10px;
	border:2px solid black;
	background:#999;
	margin: 10px 0 10px 10px;
	clear:right;
}

.blog-img-wrapper img {
	width:200px;
}

.blog-img-wrapper img.blog-img-full,
.blog-img-wrapper span.blog-img-full
{
	display:block;
	width:100%;
}



.blog-img-wrapper img.blog-img-large,
.blog-img-wrapper span.blog-img-large
{
	display:block;
	width:500px;
	max-width:100%;
}
/***************************/
/*  blog post stub */
/***************************/


.post.stub h2 {
	text-align:center;
}

.post.stub h2 a {
	color: black;
}

.post.stub h2 a:hover {
	text-decoration:none;
	color: #999;
}


.post.stub .blog-avatar {
	max-width: 100px;
}

.post.stub .blog-avatar .blog-avatar-img {
	border: 4px solid black;
	width: 100px;
}

.post.stub .blog-avatar-content {
	font-weight: normal;
}

/***************************/
<<<<<<< HEAD
/*  resources */
/***************************/

/* index */

.resource-type {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.resource {
    font-size: 120%;
}

/* civic.json validator */

.entered textarea {
    width: 100%;
    height: 20em;
}

.success {
    background-color: lightgreen;
    border: 1px solid green;
}

.fail {
    background-color: lightpink;
    border: 1px solid red;
}

/* civic.json builder */

.object {
    margin-bottom: 6px;
}

.download {
    margin-bottom: 20px;
    width: 100%;
}


/***************************/
/*  media queries */
/***************************/


@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        font-size: 94%;
=======
/*  media queries */
/***************************/

@media (max-width: 767px) {

    .collapse-text {
        display: inline;
        padding-left: 5px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar {
        font-size: 90%;
>>>>>>> basic resources page
    }
}
