.entered textarea {
    width: 100%;
    height: 20em;
}

.success {
    background-color: lightgreen;
    border: 1px solid green;
}

.fail {
    background-color: lightpink;
    border: 1px solid red;
}
