---
layout: default
title:  "Code for DC Blog"
---

<div class="col-lg-12 hero blog-hero">
    <div class="hero-text">{{ page.title }}</div>
</div>
<div class="container">

<div class="col-lg-1"></div>
<div class="col-lg-10 starter-template">
<p class="lead">Talk back to us on Twitter at <a href="https://twitter.com/search?q=dclegalhackers&f=realtime" target="_blank">@CodeForDC</a></p>
	{% for post in site.posts %}
		{% if post.categories contains 'blog' %}
            <div class="post stub">
                <div class="col-lg-12">
                    <hr/>
                    <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
                </div>
                <div class="col-lg-12">

                </div>
                <div class="col-lg-12">
                    <div class="blog-avatar">
                        {% if post.post_gravatar %} 
                            <img src="http://www.gravatar.com/avatar/{{ post.post_gravatar }}?s=100" class="blog-avatar-img" />
                        {% elsif post.post_avatar %}
                            <img src="/images/blog/avatars/{{ post.post_avatar }}" class="blog-avatar-img" />
                        {% else %}
                            <img src="/images/blog/avatars/default.png" class="blog-avatar-img" />
                        {% endif %}
                        <div class="blog-avatar-content">
                            {{ post.post_author }}
                            <br/>
                            {{ post.date | date_to_string }}
                        </div>
                    </div>
                    {{ post.content | truncatewords: 150 }}
                      <a href="{{post.url}}">Read More »</a>
                </div>
            </div>
 		{% endif %}
    {% endfor %}
</div>
<div class="col-lg-1"></div>
</div>

{% include _global_js.html %}