---
title: Starting a Project
layout: default
deeplink: true
type: guide
---

<div class="container">
    <div class="col-lg-10">
        <div class="well well-sm" style="text-align: center; margin-top: 20px">
            To submit edits or issues, go <a href="https://github.com/guides/start-a-project.md">here</a>
        </div>
        {% capture my_include %}{% include guides/start-a-project.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</div>

{% include _global_js.html %}
