{
        "conformsTo": "http://codefordc.org/resources/specification.html",
        "status": "",
        "thumbnailUrl": "",
        "contact": {
            "name":"",
            "email":"",
            "twitter":""
        },
        "geography": "Washington, DC",
        "governmentPartner": {},
        "communityPartner": {},
        "type": "",
        "data": {},
        "tags": [],
        "moreInfo":""
}
